version: "3.9"

services:
  web:
    build: .
    container_name: insgrades_web
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: insgrades_redis
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    container_name: insgrades_celery_worker
    command: celery -A app.worker.notification_scheduler worker --beat --pool=solo -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  flower:
    build: .
    container_name: insgrades_flower
    command: celery -A app.worker.notification_scheduler flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - web
